<div class="board" *ngIf="board != null">
  <h1>Willkommen auf dem "{{board.name}}"</h1>

  <div class="board-group-container" cdkDropListGroup>
    <div *ngFor="let group of board.groups">
      <h2>{{group.name}}</h2>
      <div class="group">
        <div cdkDropList
             [cdkDropListData]="group"
             id="group-{{group.id}}" class="nodes" (cdkDropListDropped)="drop($event)">
          <div cdkDrag *ngFor="let node of group.nodes" [cdkDragData]="node">
            <app-node [node]="node" [group]="group"></app-node>
          </div>
        </div>
        <app-create-node [group]="group"></app-create-node>
      </div>
    </div>
  </div>
</div>

