.group{
    border: solid #004085 1px;
    float: left;
    min-width: 10%;
    margin: 10px;
    background-color: #adb5bd;
}
.nodes .node{
    margin: 15px;
    background-color: #abdde5;
    cursor: move;
}